<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReserBus.Properties.Settings.ReserBusConnectionString"
            connectionString="Data Source=PCLUIS\SQLEXPRESS;Initial Catalog=ReserBus;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ReserBus.Properties.Settings.dbo_v_1_3ConnectionString"
            connectionString="Data Source=PC-GAMER\VSGESTION;Initial Catalog=&quot;dbo v_1.3&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>